@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url(MENU.CSS);
@import url(BANNER.CSS);
@import url(BLOG.CSS);
@import url(info-banda.css);    
@import url(TEXTOS.CSS);

    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;    
    color: black;
}

header {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto;
}


h1 {
    float: left;
    
}
header .contenedor{
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#Bienvenidos {
    text-align: center;
    color: black;
  
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 15px;
    
}



.copy {
    font-size: 20px;
}

.sociales {    
    width: 100%;
    text-align: center;
    font-size: 28px;
    
        
}


.sociales a {
    
    color: #333;
    z-index: 100;
    text-decoration: none;
    
}
.sociales a:hover {
    background: rgba(50,50,49,0.5);
    color: #fff;    
    border-radius: 80%;
    border: 1.5px;
}

@media  (min-width:240px) {
    .sociales {
        width: auto;
        
    }
    
   '' footer .contenedor {
        
     ''   justify-content: space-between;
    }

}
    
@media  (min-width:720px) {
    .sociales {
        width: auto;     
    }
 }
    
    footer .contenedor {
        justify-content: space-between;
    }


@media (min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
       
}