.fragmentos{
    padding: 5px;
    width: 100%;
    justify-content: center;

   
 }


 .videos {
    width: 100%;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}   


iframe{
    max-width: 580px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    
    margin: 2px;
    justify-content: space-between;


}

.fragmentos h1{
    font-size: 28px;

}

.fragmentos h3{
    font-size: 16px;

}



.fragmentos h1, h3 {
    
    margin: auto;
    justify-content: center;
    text-align: center;
    color: #fff;
  
    padding: 10px;

}

.vermas{
margin: auto;
text-align: center;

}


.vermas a{
    color: #F61709;
   
}



