.eventos{
    width: 100%;   
    padding: 5px;
   
    
   
 }

 .imagenes{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    

 }

.imagenes img{

    width: 100%;
    padding: 2px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;

}



 
.eventos h1{
    font-size: 28px;

}

.eventos p{
    text-align: center;
    font-size: 12px;

}



.eventos h1, h3 {
    
    margin: auto;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 10px;

}





